

.nav-pills {

    padding-top: 10px;
    background: #847996;
    min-height: 65px;
    width: 100%;
    text-align: center;
    -webkit-box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
    box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
    font-size: 2em;
    font-weight: bold;
    z-index: 99;
    white-space: nowrap;


}

a {
  font-size: 20px;
  color: #fff;
}
